
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://img.elo7.com.br/product/main/2932237/fundo-fotografico-em-tecido-madeira-rustica-2-20x1-50m-cenarios-cenograficos.jpg);
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin-bottom: 0.5rem;
}

section#menu {
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #e63946;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.card h3 {
    margin: 0.5rem 0;
    color: #e63946;
}

.card p {
    padding: 0 1rem;
    color: #666;
}

button {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d62828;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
